# Environment variables
.env
*.env
.env.*
!.env.example

# Build & Tooling
node_modules
dist
dist-ssr
build
.dart_tool
.flutter-plugins
.flutter-plugins-dependencies
*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary & zip files
*.zip
vite.config.js.timestamp*

# Flutter app build & tool outputs
Security_app/.dart_tool/
Security_app/build/
Security_app/.flutter-plugins
Security_app/.flutter-plugins-dependencies
Security_app/android/.gradle/


